// IMPORT
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

// RESET
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

// FONT
body {
    font-family: 'PT Sans Narrow', sans-serif;
}

// LINK
@mixin reset-tag-a {
    text-decoration: none;
}

// LISTE
@mixin reset-list {
    list-style: none;
}

@mixin misura-container {
    width: 992px;
    margin: 0 auto;
}

@mixin bg-custom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}